name: Test 

env:
  CI: true
  DEBUG: pw:api  

on:
  push:

jobs:

  run:
    strategy: 
      matrix:
        node: [ '14', '16' ]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node }}
    - uses: bahmutov/npm-install@v1 
    - name: run features
      run: npm run test
    - name: Upload test results
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: test-result-report
        path: reports/report.html
